<!doctype html>
<html lang="en" ng-app="app" ng-controller="myCtrl">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <script src="dirwatch.js"></script>
  <script src="node_modules/angular/angular.js"></script>
</head>

<body>
  <div>
    <label for="myColors">Colours: </label>
    <select id="myColors" ng-model="myColor" ng-options="color.name for color in colors">
      <option value="">-- choose colour --</option>
    </select>
    <p>You selected:&nbsp;<span style="border: 1px solid lightgrey; padding: 1px; background-color: {{myColor.name}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>

    <div>
      <input ng-model="myName" ng-model-options="{debounce: 500}" />
      <p>You entered: {{myName}}</p>
    </div>
  </div>

  
  <script>
    var app = angular.module('app', []);
    
    app.controller('myCtrl', ['$scope', function ($scope) {
        $scope.colors = [
          { name: 'black' },
          { name: 'green' },
          { name: 'blue' },
          { name: 'yellow' },
          { name: 'orange' },
          { name: 'pink' },
          { name: 'white' }
        ];
        $scope.selectedColor = undefined;
        $scope.myName = "";
      }]);  
  </script>


</body>

</html>