<!doctype html>
<html lang="en" ng-app="app" ng-controller="myCtrl">

<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <script src="dirwatch.js"></script>
    <script src="node_modules/angular/angular.js"></script>

    <style>
        .bluetext {
            color: blue;
        }
        .boldtext {
            font-weight: bold;
        }

        input.ng-dirty.ng-invalid {
            border-color: red;
        }

    </style>
</head>

<body>
    <div>
        <p>
            <select ng-model="textStyling">
                <option value="bluetext">Blue Text</option>
                <option value="boldtext">Bold Text</option>
            </select>
        </p>
        <p ng-class="textStyling">Some random text...</p>
    </div>

    <div>
        <label>Your Age:
            <input type="text" ng-model="age" ng-change="onAgeChange()" />
            <h4 style="color: red;">{{invalidAgeError}}</h4>
        </label>
    </div>

    <script>
        var app = angular.module('app', []);

        app.controller('myCtrl', function ($scope) {
            $scope.age = 0;
            $scope.invalidAgeError = '';

            $scope.onAgeChange = function() {
                if($scope.age < 18) {
                    $scope.invalidAgeError = 'You must be over 18.';
                } else {
                    $scope.invalidAgeError = '';
                }
            }
        });
    </script>
</body>

</html>